<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <mdb-card class="align-items-center">
                <!--Card image-->
                <img class="organigramm-picture profile-picture mt-4" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg" alt="Card image cap"/>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                    <p>{{ user.username}}</p>
                    </mdb-card-title>
                    <p>{{ user.role}}</p>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm"></div>
    </div>

</div>
