
<!-- maybe rework this some time and make an own profile page
<div class="container">
	<h1>Your profile</h1>
	
	<app-loading-spinner *ngIf="loading"></app-loading-spinner>
	<div class="alert-danger alert" *ngIf="hasError">{{ error.message }}</div>
	
    <div *ngIf="!hasError && !loading" class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <mdb-card class="align-items-center">
            
                <img class="profile-picture mt-4" [src]="user.photoURL == null ? 'https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg' : user.photoURL" alt="Card image cap"/>
                
                <mdb-card-body>


                    <mdb-card-title>
                        <h4>{{ user.displayName }}</h4>
                    </mdb-card-title>


                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
-->

<ngx-auth-firebaseui-user></ngx-auth-firebaseui-user>
