<div class="organigram-container container" *ngIf="currentView != null">
	
	<label id="visibility-label">Visibility</label>
	<mat-radio-group aria-labelledby="visibility-label" class="visibility-radio-group" 
					 [(ngModel)]="currentView.visibility" (change)="update()">
		<mat-radio-button class="visibility-radio-button" 
						  *ngFor="let visibility of visibilities | keyvalue" [value]="visibility.value">
			{{ visibility.key }}
		</mat-radio-button>
	</mat-radio-group>
	
	<div class="organigram-header-container container" *ngIf="currentView != null">
		<h2 class="organigram-header" (click)="startEditTitle()" *ngIf="!editingTitle">{{ currentView.title }}</h2>
		<div *ngIf="editingTitle" class="organigram-header-edit d-flex">
			<input type="text" (keydown.enter)="update()" [(ngModel)]="currentView.title"/>
			
			<div class="d-flex">
				<div (click)="update()" class="btn btn-outline-primary">✅</div>
				<div (click)="stopEditTitle(true)" class="btn btn-outline-primary">❌</div>
			</div>
		</div>
	</div>
	
	<div class="organigramm-bounds">
		<app-organigram-item
			*ngFor="let user of currentView.usedUsersInformation;" [userInformation]="user"
			(moved)="itemMoved($event)">
		</app-organigram-item>
	</div>
</div>
