<h2>View and edit your organigrams</h2>

<app-organigram-latest></app-organigram-latest>

<hr>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>


<div class="btn btn-outline-secondary m-1" (click)="createNew()">Create new</div>

<div *ngIf="hasError" class="alert-danger alert">{{ error.message }}</div>
<div *ngIf="id != '' && !hasError" class="d-flex">
	<div cdkDropList id="allUsers" class="example-list" [cdkDropListData]="allUsers"> TODO: finish making users draggable from here to the main view
		<app-organigram-item *ngFor="let user of allUsers;" [userUid]="user.uid" [preview]="true"></app-organigram-item>
	</div>
	<app-organigram [currentView]="currentView"></app-organigram>
</div>
