<h2>View and edit your organigrams</h2>

<app-organigram-latest (deleteItem)="deleteView($event)"></app-organigram-latest>

<hr>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>


<div *ngIf="authService.isLoggedIn && !authService.isAnonymousUser" class="btn btn-outline-primary m-1" (click)="createNew()">Create new</div>

<div *ngIf="hasError" class="alert-danger alert">{{ error.message }}</div>
<div *ngIf="id != '' && !hasError" class="d-flex">
	<app-organigram id="organigram" [currentView]="currentView"></app-organigram>
</div>
