<div>
	<ul class="navbar-nav mr-auto">
		<li *ngIf="authenticationService.isLoggedIn" class="nav-item">
			<a routerLink="/organigram" class="nav-link">My organigrams</a>
		</li>
		<li *ngIf="!authenticationService.isLoggedIn" class="nav-item">
			<a routerLink="/login" class="nav-link">Login</a>
		</li>
		<li *ngIf="authenticationService.isLoggedIn" class="nav-item">
			<a routerLink="/profile" class="nav-link">Profile</a>
		</li>
		<li *ngIf="authenticationService.isLoggedIn" class="nav-item">
			<a routerLink="/logout" class="nav-link">Logout</a>
		</li>
	</ul>
</div>
